@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  text-align: center;
  font-family: "Press Start 2P", sans-serif;
  background-color: #011f3f;
}

#header-text {
  font-size: 3rem;
  margin: 5%;
  color: #fef2bf;
}

div.squares {
  margin: 0 20%;
}

[data-square] {
  display: inline-block;
  margin: 25px;
  border: 10px solid black;
  border-radius: 20%;
  height: 200px;
  width: 200px;
}

[data-square="green"] {
  background-color: green;
}

[data-square="red"] {
  background-color: red;
}

[data-square="yellow"] {
  background-color: yellow;
}

[data-square="blue"] {
  background-color: blue;
}

.blinked {
  opacity: 10%;
}

.clicked {
  box-shadow: 0px 0px 20px white;
  background-color: grey;
}

.game-over {
  background-color: red;
  color: yellow;
}

