<%- include("header"); %>

<h1>About this website</h1>

<p>
  This is my first post in this minimal blog site. This website is one of the projects for Angela Yu's <a href="https://www.udemy.com/course/the-complete-web-development-bootcamp/">web development bootcamp</a>.
</p>



<%- include("footer"); %>