<%- include("header") %>

<h1>Contact</h1>

<p>
  You can send me a message in the following platforms:
</p>

<ul class="contact-links">
  <li>Email: <a href="#">sample@email.com</a></li>
  <li>LinkedIn: <a href="http://linkedin.com">dattlab</a></li>
</ul>

<p>
  Other links:
</p>

<ul class="contact-links">
  <li><a href="https://discord.com">Discord</a></li>
  <li><a href="https://twitter.com">Twitter</a></li>
</ul>

<%- include("footer") %>