<%- include("header"); %>

<h1>Recent posts</h1>

<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos explicabo, maxime, pariatur impedit culpa cumque eaque aspernatur suscipit, quisquam labore iure ullam aliquid eum quae! Quod architecto laborum voluptatum fugiat?
</p>

<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam et laborum voluptate voluptatum nesciunt. Porro nemo, similique libero cupiditate dolores doloremque iusto nesciunt magni natus maxime cum deleniti sapiente magnam.
</p>

<%- include("footer"); %>