<!-- vim:syntax=html:filetype=html -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>To Do List</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/style.css" rel="stylesheet">
  </head>
  <body>


    <header>
      <h2 id="category"><%= categ %></h2>
      <h1 id="currentDate">
        <%= dayReadable %>
        <% if (isWeekend) { %>
          <span>(Happy Weekend!)</span>
        <% } %>
      </h1>
    </header>

    <section>
      <% taskList.forEach((task) => { %>
        <label class="taskItem">
          <input type="checkbox">
          <span class="taskTitle"><%= task.name %></span>
          <span class="checkmark"></span>
        </label>
      <% }) %>
    </section>

    <form action="/" method="post">
      <input id="newTask" type="text" name="newTask" placeholder="New Task" autofocus autocomplete="off">

      <button type="submit" name="list" value="<%= categ %>">+</button>
    </form>

  </body>
</html>
