<!-- vim:syntax=html:filetype=html -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>To Do List</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/style.css" rel="stylesheet">
  </head>
  <body>


    <header>
      <h2 id="category"><%= categ %></h2>
      <h1 id="currentDate"><%= dayReadable %></h1>
    </header>


    <form action="<%= `/${categPage}` %>" method="post">
      <input id="newTask" type="text" name="newTask" autofocus autocomplete="off">

      <button type="submit">+</button>
    </form>


    <section>
      <% for (let i=0; i < taskList.length; i++) { %>
        <label class="taskItem">
          <input type="checkbox">
          <span class="taskTitle"><%= taskList[i] %></span>
          <span class="checkmark"></span>
        </label>
      <% } %>
    </section>


  </body>
</html>
