@import "reset.css";

:root {
  --bg-dark0: #00010a;
  --bg-dark1: #0a0e14;
  --bg-dark2: #32302f;
  --bg-dark3: #282828;
  --bg-dark4: #504945;

  --fg-dark0: #f9f57d;
  --fg-dark1: #fbf1c7;
  --fg-dark3: #f2e5bc;
  --fg-dark4: #ebdbb2;
  --dim-fg-dark: #a89984;
}
