@import url("reset.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

/* ******************************* */

:root {
  --bg: #272822;
  --fg: #e8e8e3;

  --black: #272822;
  --blue: #ae81ff;
  --purple: #f92772;
  --cyan: #66d9ef;
  --green: #a6e22d;
  --yellow: #fd9720;
  --red: #e73c50;
  --white: #d8d8d3;

  --bright-black: #383a3e;
  --bright-blue: #ae81ff;
  --bright-purple: #f92772;
  --bright-red: #f92772;
  --bright-cyan: #66d9ef;
  --bright-green: #a6e22d;
  --bright-yellow: #e6db74;
  --bright-white: #e8e8e3;
}

/* ******************************* */

html {
  background-color: var(--bg);
  color: var(--fg);
  font-family: "Roboto Mono", monospace;
}

/* ******************************* */

/* Nav bar */
nav {
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 1.9rem;
}

#nav-brand {
  font-weight: bold;
  margin-right: auto;
  color: var(--bright-yellow);
  text-decoration: none;
}

.nav-link {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1.2rem;
  padding-top: 8px;
  color: var(--white);
  text-decoration: none;
}

.nav-link:hover {
  color: var(--bright-yellow);
  text-decoration: underline 3px var(--bright-yellow);
}

nav a:last-child {
  margin-right: 0;
}

#nav-body-sep {
  border: 2px solid var(--bright-yellow);
  margin-bottom: 30px;
}

/* ******************************* */

body {
  margin: 1% auto;
  max-width: 60%;
}

/* ******************************* */

/* Heading style */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--bright-white);
  margin-top: 10px;
  margin-bottom: 10px;
}

p {
  margin-top: 10px;
  margin-bottom: 10px;
}

a {
  color: var(--bright-blue);
  text-decoration: none;
}

a:hover {
  color: var(--bright-yellow);
}

/* ******************************* */

/* footer */
#footer-body-sep {
  margin-top: 30px;
  border: 2px solid var(--bright-yellow);
}

footer {
  margin-top: 50px;
  text-align: center;
}

/* ******************************* */

/* Media queries */
@media (max-width: 750px) {
  body {
    max-width: 90%;
  }
}
