@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;0,800;1,600&display=swap');

:root {
  --bg-dark0: #00010a;
  --bg-dark1: #0a0e14;
  --bg-dark2: #32302f;
  --bg-dark3: #282828;
  --bg-dark4: #504945;

  --fg-dark0: #f9f57d;
  --fg-dark1: #fbf1c7;
  --fg-dark3: #f2e5bc;
  --fg-dark4: #ebdbb2;
  --dim-fg-dark: #a89984;
}

html {
  background-color: var(--bg-dark1);
  color: var(--fg-dark1);
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 5% 30%;
}

header {
  color: var(--fg-dark0);
  font-weight: 800;
  text-align: center;
  margin-bottom: 20px;
}

#newTask {
  color: var(--fg-dark0);
  font-size: 1.7rem;
  background-color: var(--bg-dark1);
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid var(--fg-dark4);
  border-radius: 5px;
}

button {
  color: var(--fg-dark0);
  font-weight: 800;
  font-size: 1.9rem;
  border: 0;
  padding: 2px;
  border-radius: 5px;
  background-color: var(--bg-dark2);
  width: 100%;
}
button:hover {
  background-color: var(--bg-dark4);
}

section {
  padding-top: 5%;
  padding-bottom: 5%;
}

.taskItem {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1.5rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.taskItem input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 8px;
  left: 0;
  height: 23px;
  width: 23px;
  background-color: #eee;
}

.taskItem:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.taskItem input:checked ~ .checkmark {
  background-color: #6994BF;
}

.taskItem input:checked + .taskTitle {
  color: var(--dim-fg-dark);
  font-style: italic;
  text-decoration: line-through;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.taskItem input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.taskItem .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

